<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyStay</title>
    <!-- <link rel="stylesheet" href="starter.css"> -->
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>BookMyStay</h1>
            </div>
            <div class="buttons">
                <button class="register-button">Зарегистрироваться</button>
                <button class="login-button">Войти</button>
                <button class="language-button">Сменить язык</button>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <p>Добро пожаловать в BookMyStay - ваш сервис бронирования жилья. Мы поможем вам найти и забронировать идеальное место для вашего пребывания.</p>
            <button class="booking-button" onclick="redirectToBookingPage()">Забронировать билеты</button>
            <button class="booking-button">Забронировать жилье</button>
            <div class="search-box">
                <input type="text" placeholder="Куда вы хотите поехать">
                <input type="date" placeholder="Дата заезда">
                <input type="date" placeholder="Дата выезда">
                <input type="number" placeholder="Гости">
                <button class="search-button">Поиск</button>
            </div>
            </section>

        <article>
            <section>
                <h2>Тур в Сахалин</h2>
                <ul>
                    <li>Продолжительность: 7 дней</li>
                    <li>Стоимость: 50 000 рублей</li>
                    <li>Включено в стоимость:
                        <ul>
                            <li>Проживание в отеле на берегу озера</li>
                            <li>Питание (завтрак, обед, ужин)</li>
                            <li>Экскурсии по острову</li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Квесты в Японии</h2>
                <p><sup>"</sup>В мире квестов каждая загадка — это ключ к новому приключению<sub>"</sub></p>
                <p>Присоединяйтесь к нашим квестам в Японии и погрузитесь в удивительный мир японской культуры и традиций. Вас ждут захватывающие приключения и необычные испытания, которые помогут раскрыть ваш потенциал и научиться работать в команде.</p>
            </section>
        </article>

        <aside>
            <section>
                <h2>Курсы программирования</h2>
                <p>Хотите научиться программировать? Присоединяйтесь к нашим курсам и получите все необходимые знания и навыки для успешной карьеры в IT-индустрии.</p>
                <code>&lt;html&gt;<br>&nbsp;&nbsp;&lt;head&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;Пример кода&lt;/title&gt;<br>&nbsp;&nbsp;&lt;/head&gt;<br>&nbsp;&nbsp;&lt;body&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Пример кода на HTML&lt;/p&gt;<br>&nbsp;&nbsp;&lt;/body&gt;<br>&lt;/html&gt;</code>
            </section>
        </aside>
    </main>
    <footer>
        <p>Copyright © BookMyStay</p>
    </footer>
</body>
</html>
